* {
    margin:0;
    padding:0;
    font-family: 'Bitter', serif;
    font-size:16px;
    color:#313131;
}

body {
    background-image:url('imagens/pattern.jpg');
    background-size: 10%;
    background-repeat: repeat;
    display:flex;
    flex-direction: column;
    height:auto;
}

h1{
    font-family: 'Merriweather', serif;
    text-align: center;
    color:#b35454;
    font-size:38px;
}

.slogan {
    text-align: center;
    margin-top:5px;
    margin-bottom:30px;
}

p,a {
    text-align:center;
}

a {
    text-decoration:none;
    color:#c24f4f;
}

a:hover {
    color:#964545;
}

form {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.quadrado-login {
    margin-top:80px;
    display:flex;
    flex-direction:column;
    align-self: center;
    height:100%;
    width:25%;
    background: #ffffff;
    border-radius:20px;
    padding:30px;
    box-shadow: 0px 0px 10px #3f3f3f;
}

.quadrado-cadastrar {
    margin-top:80px;
    display:flex;
    flex-direction:column;
    align-self: center;
    height:100%;
    width:50%;
    background: #ffffff;
    border-radius:20px;
    padding:50px;
    box-shadow: 0px 0px 10px #3f3f3f;
}

label {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:10px;
}

label p {
    width:20%;
}

input {
    width:80%;
    align-self: flex-end;   
}

.textinput:focus {
    border-color: #b35454;
}

.textinput:active {
    border-color: #b35454;
}

.textinput {
    border:none;
    border-bottom:1px solid #3f3f3fc4;
}



.logo{
    align-self: center;
    width:30%;
    max-height:100px;
}

.botao-ir {
    background-color:#b35454;
    border:none;
    width:50%;
    margin-top:10px;
    margin-bottom:10px;
    height: 25px;
    border-radius:6px;
    width:40%;
    color:white;
    text-shadow: 2px 2px 2px #3f3f3f;
    align-self: center;
}

.botao-ir:hover {
    text-shadow: 2px 2px 2px #3f3f3f;
    font-size:17px;
}

.botao-ir:focus {
    border:1px solid #3f3f3f;
}

.botao-ir:active {
    border:1px solid #3f3f3f;
}
footer {
    display:flex;
    justify-content: center;
    align-self: center;
    position: absolute;
    bottom:1px;
}

footer p {
    color: #3f3f3f;
    text-shadow: 2px 2px 4px #9c5454;
}