@{
    ViewBag.Title="Cadastro de Tarefas";
    Layout = "MasterPage";
}

<section class="quadrado-cadastrar">
    <div class="align-titlecad">
        <img  src="/css/imagens/icon.png" class="tarefa-title"/>
        <h1>  Cadastro de Tarefas </h1>
    </div>
    <form action="/Tarefa/Cadastrar" method="POST">
        <label> 
            <p> Nome da Tarefa: </p>
            <input class ="textinput" type="text" name="nome" required=true>
        </label>

        <label> 
            <p> Descrição: </p>
            <input class ="textinput" type="text" name="descricao" requires=true>
        </label>

        <label> 
            <p> Data a ser feita: </p>
            <input class ="textinput" type="date" name="quando" required=true>
        </label>

        <label> 
            <p> Estado: </p>
            <input type="radio" name="tipo" required=true value="Para fazer">        
            Para fazer
            <input type="radio" name="tipo" required=true value="Fazendo">        
            Fazendo
            <input type="radio" name="tipo" required=true value="Concluído">        
            Concluído
        </label>
        <input type="submit" value="Cadastrar" class="botao-ir">
        <a href="/Usuario/Login"> Sair </a>
    </form>
</section>

@ViewBag.Mensagem