@{
    ViewBag.Title="Cadastro";
    Layout = "MasterPage";
}

<section class="quadrado-login">
    <img  src="/css/imagens/icon.png" class="logo"/>
    <h1> Task Central </h1>
    <p class="slogan"> Todas as suas tarefas em um só lugar. </p>


    <form action="/Usuario/Cadastrar" method="POST">
        <label> 
            <p> Nome: </p>
            <input class="textinput" type="text" name="nome" required=true>
        </label>

        <label> 
            <p> Email: </p>
            <input class="textinput" type="email" name="email" required=true>
        </label>

        <label> 
            <p> Senha: </p>
            <input class="textinput" type="password" name="senha" required=true>
        </label>

        <label> 
            <p> Tipo: </p>
            <select class="textinput" name="tipo" required=true>
                <option name="usuario"> Usuario comum </option>
                <option name="admin"> Administrador</option>
            </select>
        </label>

        <input type="submit" value="Continuar" class="botao-ir">
        <p> Já possui uma conta? </p> 
        <a href="/Usuario/Login"> Entrar </a>
    </form>
</section>
@ViewBag.Mensagem